body {
	font-family: "arial black" !important;
}

hr
{
	border-color: #8E8282 !important;
}

.container
{
	background: #f1f1f1;
}

h1 {
	margin-bottom: 15px !important;
}

#group_size_input {
	margin-top: 5px;
	width: 150px;
	font-weight: normal;
	border-radius: 5px;
}

.labels {
	font-weight: normal;
}

h2 {
	font-size: 1.2em !important;
	font-weight: normal !important;
	font-style: italic;
	font-family: verdana !important;
	margin-bottom: 0;
}

#bissextile_input {
	margin-top: 10px;
}

label:nth-child(2) {
	margin-right: 40px;
	margin-left: 40px;
}

#menu_options {
	text-align: center;
}

#generate_table_btn {
	position: relative;
	bottom: 8px;
}

#canvas, #info {
	text-align: center;
}

footer {
	text-align: center;
	margin-top: 40px;
}

a:hover {
	text-decoration: none !important;
}

h3 {
	margin-top: 40px !important;
	font-weight: bold !important;
}

h4 {
	font-size: 1.1em !important;
	font-style: italic;
}

.arrow {
	font-size: 1.2em !important;
}

section {
	margin-bottom: 20px;
}

#tilde {
	text-align: center;
	display: block;
	margin-bottom: 20px;
}

#tilde2 {
	display: block;
	margin-top: 6px;
}

#github_text {
	display: block;
	margin-bottom: 2px !important;
}

.github_logo {
	padding: 4px 8px !important;
}