body {
	font-family: "arial black" !important;
	cursor: default;
}

hr
{
	border-color: #8E8282 !important;
}

.container
{
	background: #f1f1f1;
}

h1 {
	margin-bottom: 25px !important;
}

#group_size_input {
	margin-top: 5px;
	width: 150px;
	font-weight: normal;
	border-radius: 5px;
}

.labels {
	font-weight: normal;
}

h2 {
	font-size: 1.2em !important;
	font-weight: normal !important;
	font-style: italic;
	font-family: verdana !important;
}

#bissextile_input {
	margin-top: 10px;
}

label:nth-child(2) {
	margin-right: 40px;
	margin-left: 40px;
}

#menu_options {
	text-align: center;
}

#generate_table_btn {
	position: relative;
	bottom: 8px;
}

section, footer {
	margin-top: 40px;
	text-align: center;
}

#canvas {
	text-align: center;
}

#tilde2, #github_text {
	display: block;
}

.github_logo {
	padding: 3px 6px !important;
}